:root {
    --first: #11999e;
    --second: #81dd90;
}
header {
    font-family: tahoma;
    overflow:auto; 
    margin-top: 20px;
    margin-left:20px ;  
}
header img {
    float:left;
    margin-bottom: 10px;
}
.search {
display: inline-block;
margin-bottom: 10px;
margin-top: 30px;
}

input[type="text"] {
    padding: 8px 16px;
    font-size: 16px;
    border: 1px solid var(--second);
    border-radius: 4px 0 0 4px;
    border-color: var(--second);
    margin-left: 20px;
    display: inline-block;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #11999e;
    color: #fff;
    border: 1px solid #81dd90;

}
body {
    font-family: tahoma;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #11999e;
    display: flex;
    justify-content: center;
    margin-left:8px ;

}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    transition: background-color 0.3s ease;
    border: var(--first);
}

nav a:hover {
    background-color: #fdfbfb;
    color:#11999e
    
}
a:hover {
    background-color: #fdfbfb;
    color:#11999e
}
.btn:hover {
    background-color: #fdfbfb;
    color:#11999e
}
section{
    text-align:center ;
    color: black;
    padding: 2em;
}
#latestbooks{
   
    border-top: 2px solid var(--second);
    border-bottom:2px solid var(--second);   
}
a{
    text-decoration: none;
    font-family:Tahoma;
    background-color: var(--first);
    border: 1px solid var(--second);
    color: #fff;
    padding: 5px 5px 5px 5px;
}
h1, h2 ,h3{
    text-transform: uppercase;
    color: var(--second);
  }
#cate {
    text-align: center;
    color: #fdfbfb;
    border:1px solid var(--first);
    padding: 20px;
    background-color: var(--first);
    margin-top: 10px;
    

}
#category {
    color: #fff;
}
section a {
    color: #fff;
    text-decoration: none;
    padding: 5px 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
    font-size: large;
}
#sm a {
    font-size: x-small;
    border-color: #11999e;
    text-decoration: underline;
}

footer  {
    background-color:var(--first);
    color: #fff;
    padding: 25px;
}
footer p {
    text-align: center;

}

footer a {
    color: #fff;
    margin: 0 10px;
    text-align: left;
    text-decoration: none;
    font-size: x-small;
    border: #11999e;
}
input [type="textarea"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}
input[type="email"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid var(--second);
    border-radius: 4px 0 0 4px;
    border-color: var(--second);
    margin-left: 20px;
    display: inline-block;
}

h2 p {
    display: inline;
  }
form label {
     display:block;

  }
select {
    width:100%;
    display: block;
}  
textarea{
    width: 100%;
}

    
#contact {
    margin: 0 auto;
    max-width: 500px;
}


#Subscribe button {
    display: inline-block;
}
form {
    text-align: left;
}
#Subscribe h2 {
    padding: auto;
    margin-top: auto;
    width: auto;

} 
#email {
    width:300px;
}

