body{
font-family:Arial, sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}

header {
background-color: #e79a9a;
color: rgb(243, 249, 247);
text-align: center;
padding: 1em;
}

nav {
background-color: #eee;
padding: 1em;
text-decoration:darkgray;
}

section {
padding: 2em;
}

footer {
background-color: #ec7eae;
color: white;
text-align: center;
padding: 1em;
width: 100%;
margin-left:0;
}

.portfolio {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.portfolio img {
max-width: 30%;
margin: 1em;
border: 1px solid #ddd;
border-radius: 5px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transition: transform 0.3s;
}

.portfolio img:hover {
transform: scale(1.1);
}

form {
max-width: 400px;
margin: 0 auto;
}

label {
display: block;
margin-bottom: 8px;
}

input,
textarea {
width: 100%;
padding: 8px;
margin-bottom: 16px;
box-sizing: border-box;
}

button {
background-color: #2d6fda;
color: white;
padding: 10px 15px;
border: none;
cursor: pointer;
}

button:hover {
background-color: #555;
}
